-# .right-side-trend
-#   .right-side-trend-top
-#     .right-side-trend-top__setting
-#       = fa_icon 'cog',class: "right-sidebar__fa-icon"
-#     .right-side-trend-top__title
-#       おすすめのトレンド
-# .right-side-low
