.right-side
  .right-side-user
    .right-side-user__title
      おすすめのユーザー
    .right-side-user__content
      .right-side-user__content-image
        = image_tag('member_photo_noimage.png', class: 'user-image')
      .right-side-user__content-info
        .right-side-user__content-info-name
          テスト
        .right-side-user__content-info-username
          @testtest
      .right-side-user__content-follow
        .right-side-user__content-follow__button
          フォロー
    .right-side-user__content
      .right-side-user__content-image
        = image_tag('member_photo_noimage.png', class: 'user-image')
      .right-side-user__content-info
        .right-side-user__content-info-name
          テスト
        .right-side-user__content-info-username
          @testtest
      .right-side-user__content-follow
        .right-side-user__content-follow__button
          フォロー
    .right-side-user__content
      .right-side-user__content-image
        = image_tag('member_photo_noimage.png', class: 'user-image')
      .right-side-user__content-info
        .right-side-user__content-info-name
          テスト
        .right-side-user__content-info-username
          @testtest
      .right-side-user__content-follow
        .right-side-user__content-follow__button
          フォロー
    .right-side-user
      さらに表示

