.header{
  height: 50px;
  margin-right: 125px;
  margin-left: 125px;
  background-color: $white;
  &-container{
    &--global__left{
      float: left;
      .global__left-home{
        display: inline-block;
        height: 30px;
        line-height: 26px;
        padding: 10px;
        &-menu{
          text-decoration: none;
          color: $iconGray;
          .header__fa-icon{}
        }
      }
      .global__left-moment{
        display: inline-block;
        padding: 10px;
        &-menu{
          text-decoration: none;
          color: $iconGray;
          .header__fa-icon{}
        }
      }
      .global__left-news{
        display: inline-block;
        padding: 10px;
        &-menu{
          text-decoration: none;
          color: $iconGray;
          .header__fa-icon{}
        }
      }
      .global__left-message{
        display: inline-block;
        padding: 10px;
        &-menu{
          text-decoration: none;
          color: $iconGray;
          .header__fa-icon{}
        }
      }
    }
    .header-container--global__right{
      float: right;
      .global__right-search{
        line-height: 26px;
        display: inline-block;
        padding: 8px 10px 10px 8px;
        &__input{}
      }
      .global__right-user-menu{
        display: inline-block;
        padding: 10px;
        &__link{
          text-decoration: none;
          color: $iconGray;
          z-index: 1000;
          position: relative;
          &-img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            vertical-align: middle;
          }
          &-pulldown{
            display: none;
            position: absolute;
            background-color: $white;
            width: 150px;
            box-shadow: 2px 2px;
            padding: 5px;
            .pulldown-prof{
              border-bottom: 1px solid $borderGray;
              .pulldown-prof-nickname{
                color: $black;
                font-size: 18px;
                height: 30px;
              }
              .pulldown-prof-username{}
            }
            .pulldown__link{
              text-decoration: none;
              color: $iconGray;
            }
            .pulldown__logout{
              text-decoration: none;
              color: $iconGray;
            }

          }
        }
      }
      .global__right-newtweet{
        display: inline-block;
        padding: 10px;
        &-menu{
          text-decoration: none;
          color: $iconGray;
        }
      }
    }
  }
}
