.right-side-trend{
  width: 290px;
  margin-right: 125px;
  background-color: $white;
  margin-top: 10px;
  &-top{
    clear: both;
    &__setting{
      float: right;
      .right-sidebar__fa-icon{
        color: $followBlue;
        margin-right: 10px;
      }
    }
    &__title{
      font-size: 18px;
      font-weight: 700;
      float: left;
      margin-left: 10px;
    }
  }
}
.right-side-low{}
