.right-side{
  width: 290px;
  margin-right: 155px;
  background-color: $white;
  margin-top: 10px;
  &-user{
    &__title{
      padding: 10px;
      font-size: 18px;
      font-weight: 700;
    }
    &__content{
      width: 258px;
      height: 50px;
      padding: 10px;
      clear: both;
      border-top: 1px solid $borderGray;
      border-bottom: 1px solid $borderGray;
      &-image{
        float: left;
        .user-image{
          width: 38px;
          height: 38px;
          border-radius: 50%;
          transform: translate(5%,15%);
        }
      }
      &-info{
        float: left;
        margin-left: 10px;
        &-name{
          font-weight: 700;
        }
        &-username{
          color: $usernameGray;
        }
      }
      &-follow{
        float: right;
        border: 1px solid $followBlue;
        border-radius: 10px;
        width: 80px;
        text-align: center;
        transform: translate(0%,45%);
        &__button{
          color: $followBlue;
          text-align: center;
        }
      }
    }
    .right-side-user{
      padding: 10px;
      color: $followBlue;
    }
  }
}

