.right-side-trend{
  width: 290px;
  margin-right: 125px;
  background-color: #FFFFFF;
  margin-top: 10px;
  .right-side-trend-top{
    clear: both;
    .right-side-trend-top__setting{
      float: right;
      .right-sidebar__fa-icon{
        color: #1E90FF;
        margin-right: 10px;
      }
    }
    .right-side-trend-top__title{
      font-size: 18px;
      font-weight: 700;
      float: left;
      margin-left: 10px;
    }
  }
}
.right-side-low{}
