.tweet-all{
  padding-top: 80px;
  width: 100vw;
  height: 100vh;
  background-color: #EEEEEE;
  .tweet-box{
    margin: 0 auto;
    clear: both;
    width: 600px;
    background-color: $white;
    border-radius: 10px;

    &__title{
      font-size: 22px;
      font-weight: 700;
      padding: 10px;
      text-align: center;
      background-color: $white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    &-main{
      &-top{
        clear: both;
        &-user__img{
          margin: 20px;
          &-tag{
            float: left;
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
        &-content{
          float: left;
          margin-left: 35px;
          &__text_area{
            width: 450px;
            height: 100px;
            font-size: 18px;
            border-radius: 10px;
            padding: 10px;
            border: 2px solid #FFAAFF ;

          }
          &-preview{}
        }
      }
      &-bottom{
        clear: both;
        display: flex;
        flex-direction: row;
        &-img{
          font-size: 30px;
          color: #00BFFF;
          margin: 10px 10px 10px 100px;
        }
        &__file_field{
          display: none;
          margin-left: 50px;
        }
        &__submit{
          margin: 10px 10px 10px 350px;
          right: 20px;
          &-btn{
            outline: 0;
            border: 0px;
            color: $white;
            background-color: #00BFFF;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
