.show-main{
  margin-top: 10px;
  margin-right: 60px;
  width: 600px;
  .main-content__title{
    height: 50px;
    padding: 10px;
    left: 0px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid $borderGray;
    background-color: $white;
  }
  .main-content-tweet{
    overflow:hidden;
    padding :10px;
    background-color: $white;
    border-bottom: 1px solid $borderGray;
    .main-content-tweet-user{
      float: left;
      margin-right: 20px;
      .main-content-tweet-user__img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .main-content-tweet-user-box{
      float: left;
      .main-content-tweet-user-box-info{
        .main-content-tweet-user-box-info-name{
          font-weight: 700;
          float: left;
        }
        .main-content-tweet-user-box-info-username{
          float: left;
          color: $usernameGray;
          margin-left: 5px;
        }
        .main-content-tweet-user-box-info-time{
          float: left;
          color: $usernameGray;
          margin-left: 5px;
        }
      }
      .main-content-tweet-user-box-text{
        width: 510px;
        clear: both;
        overflow-wrap : break-word;
        word-wrap : break-word;
      }
      .main-content-tweet-user-box-img{
        text-align:center;
        .main-content-tweet-user-box-img__tag{
          width: 400px;
        }
      }
      .main-content-tweet-user-box-func{
        .main-content-tweet-user-box-retweet{
          float: left;
          margin-right: 80px;
          .main-content-tweet-user-box-retweet__link{
            color: $usernameGray;
          }
        }
        .main-content-tweet-user-box-func-favorite{
          float: left;
          margin-right: 80px;
          .main-content-tweet-user-box-func-favorite__link{
            color: $usernameGray;
          }
        }
        .main-content-tweet-user-box-func-impression{
          float: left;
          margin-right: 80px;
          .main-content-tweet-user-box-func-impression__link{
            color: $usernameGray;
          }
        }
      }
    }
  }
  .main-content__comment{
    .main-content__comment-title{
      height: 30px;
      padding: 10px;
      left: 0px;
      line-height: 30px;
      font-size: 14px;
      font-weight: 700;
      border-bottom: 1px solid $borderGray;
      background-color: $white;
    }
    .main-content__comment-main{}
    .main-content-tweet__pagenate{
      border-bottom: 1px solid $borderGray;
      background-color: $white;
      font-size: 18px;
      height: 50px;
      line-height: 50px;
      .main-content-tweet__pagenate-tag{}
    }
    .main-content__comment-create{
      height: 30px;
      padding: 10px;
      left: 0px;
      line-height: 30px;
      font-size: 14px;
      font-weight: 700;
      border-bottom: 1px solid $borderGray;
      background-color: $white;
    }
    .main-content__comment-create-box{
       background-color: $white;
       padding: 10px;
      .main-content__comment-create-box__user-img{
        float: left;
        .tweet-box-main-top-user__img-tag{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-top: 20px;
        }
      }
      .main-content__comment-create-box-top{
        .main-top__comment-create-box-content__textarea{
          margin: 20px 0px 20px 20px;
          width: 480px;
          border-radius: 10px;
          padding: 10px;
          border: 2px solid #FFAAFF ;
          height: 96px;
        }
      }
      .main-content__comment-create-box-bottom{
        .main-content__comment-create-box-bottom-submit{
          margin: 0px 10px 10px 445px;
          right: 0px;
          text-align: center;
          .main-content__comment-create-box-bottom-submit__btn{
            outline: 0;
            border: 0px;
            color: $white;
            background-color: #00BFFF;
            padding: 5px;
            border-radius: 5px;
            width: 120px;
          }
        }
      }
    }
  }
















}
