.show-main{
  margin-top: 10px;
  margin-right: 60px;
  width: 600px;
  .main-content__title{
    height: 50px;
    padding: 10px;
    left: 0px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid $borderGray;
    background-color: $white;
  }
  .main-content-tweet{
    overflow:hidden;
    padding :10px;
    background-color: $white;
    border-bottom: 1px solid $borderGray;
    &-user{
      float: left;
      margin-right: 20px;
      &__img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    &-user-box{
      float: left;
      &-info{
        &-name{
          font-weight: 700;
          float: left;
        }
        &-username{
          float: left;
          color: $usernameGray;
          margin-left: 5px;
        }
        &-time{
          float: left;
          color: $usernameGray;
          margin-left: 5px;
        }
      }
      &-text{
        width: 510px;
        clear: both;
        overflow-wrap : break-word;
        word-wrap : break-word;
      }
      &-img{
        text-align:center;
        &__tag{
          width: 400px;
        }
      }
      &-func{
        &-favorite{
          float: left;
          margin-right: 80px;
          &__link{
            color: $usernameGray;
          }
        }
        &-impression{
          float: left;
          margin-right: 80px;
          &__link{
            color: $usernameGray;
          }
        }
      }
    }
  }
  .main-content__comment{
    &-title{
      height: 30px;
      padding: 10px;
      left: 0px;
      line-height: 30px;
      font-size: 14px;
      font-weight: 700;
      border-bottom: 1px solid $borderGray;
      background-color: $white;
    }
    &-main{}
    .main-content-tweet__pagenate{
      border-bottom: 1px solid $borderGray;
      background-color: $white;
      font-size: 18px;
      height: 50px;
      line-height: 50px;
      &-tag{}
    }
    &-create{
      height: 30px;
      padding: 10px;
      left: 0px;
      line-height: 30px;
      font-size: 14px;
      font-weight: 700;
      border-bottom: 1px solid $borderGray;
      background-color: $white;
    }
    &-create-box{
       background-color: $white;
       padding: 10px;
      &__user-img{
        float: left;
        .tweet-box-main-top-user__img-tag{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-top: 20px;
        }
      }
      &-top{
        .main-top__comment-create-box-content__textarea{
          margin: 20px 0px 20px 20px;
          width: 480px;
          border-radius: 10px;
          padding: 10px;
          border: 2px solid #FFAAFF ;
          height: 96px;
        }
      }
      &-bottom{
        &-submit{
          margin: 0px 10px 10px 445px;
          right: 0px;
          text-align: center;
          &__btn{
            outline: 0;
            border: 0px;
            color: $white;
            background-color: #00BFFF;
            padding: 5px;
            border-radius: 5px;
            width: 120px;
          }
        }
      }
    }
  }
}
