.all-show-contents{
  width: 100vw;
  height: 1200px;
  background-color: #EEEEEE;
  .header-all{
    background-color: $white;
  }
  .profile{
    width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: $white;
    padding: 0px 30px 30px;
    &-top-edit{
      display: flex;
      flex-direction: row-reverse;
      text-align: right;
      margin-right: 20px;
      padding-top: 20px;

      &__btn{
        @include appFrame;
        @include appFrameBtn;
        width: 50px;

      }
    }
  }
  .profile-top{
    text-align: center;
    &-img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    &__nickname{
      font-weight: 700;
    }
    &__username{
      color: $usernameGray;
    }
  }
  .profile-content{
    padding-top: 10px;
    overflow-wrap : break-word;
    word-wrap : break-word;
    &__sentence{
    }
  }
  .profile-user-tweet{
    &__title{
      width: 800px;
      height: 50px;
      border-bottom: 1px solid $borderGray;
      padding: 10px;
      &-tweet-tab{
        float: left;
        left: 0px;
        line-height: 50px;
        font-size: 18px;
        margin-right: 60px;
      }
      &-follow-tab{
        float: left;
        left: 0px;
        line-height: 50px;
        font-size: 18px;
        margin-right: 60px;
      }
      &-follower-tab{
        float: left;
        left: 0px;
        line-height: 50px;
        font-size: 18px;
        margin-right: 80px;
      }
      .select__notice{
        border-bottom: 4px solid #00BFFF;
        font-weight: 700;
      }
      &-func{
        float: left;
        margin-left: 45px;
        margin-top: 15px;
        @include appFrame;
        &__btn{
          @include appFrameBtn;
        }
      }
      .users-main-main__followed{
        float: right;
        margin-right: 50px;
        margin-top: 15px;
        @include appFrame;
        .users-main-main__followed-btn{
          @include appFrameBtn;
            }
          }
      .users-main-main__follow{
        float: right;
        margin-right: 50px;
        margin-top: 15px;
        @include appFrame;
        .users-main-main__follow-btn{
          @include appFrameBtn;
        }
      }
    }
    &-main{
      &__content{
        overflow-y: scroll;
        height: 500px;
        .main-content-tweet{
          overflow:hidden;
          padding :10px;
          border-bottom: 1px solid $borderGray;
          &-user{
            float: left;
            margin-right: 20px;
            &__img{
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }
          &-user-box{
            float: left;
            &-info{
              &-nickname{
                font-weight: 700;
                float: left;
              }
              &-username{
                float: left;
                color: $usernameGray;
                margin-left: 5px;
              }
              &-time{
                float: left;
                color: $usernameGray;
                margin-left: 5px;
              }
            }
            &-text{
              width: 510px;
              clear: both;
              overflow-wrap : break-word;
              word-wrap : break-word;
            }
            &-img{
              text-align:center;
              &__tag{
                width: 400px;
              }
            }
            &-func{
              &-message{
                float: left;
                margin-right: 80px;
                &__link{
                  color: $usernameGray;
                  .tweet__fa-icon{}
                }
              }
              &-favorite{
                float: left;
                margin-right: 80px;
                &__link{
                  color: $usernameGray;
                  .tweet__fa-icon{}
                }
              }
              &-impression{
                float: left;
                margin-right: 80px;
                &__link{
                  color: $usernameGray;
                  .tweet__fa-icon{}
                }
              }
            }
          }
        }
      }
      &__follow{
        overflow-y: scroll;
        height: 500px;
        display: none;
        &-content{
          padding: 10px;
          overflow:hidden;
          border-bottom: 1px solid $borderGray;
          &__tag{
            float: left;
            margin-right: 20px;
            &-img{
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }
          &-info{
            float: left;
            margin-top: 3px;
            &__username{
              font-weight: 700;
            }
            &__nickname{
              color: $usernameGray;
              font-size: 14px;
            }
          }
          &-main{
            clear: both;
            margin-left: 70px;
            &-prof{
              padding: 1px;
              font-size: 13px;
              line-height: 20px;
              width: 580px;
              height: 50px;
              float: left;
              word-wrap: break-word;
            }
            .users-main-main__followed{
              float: right;
              margin-right: 10px;
              margin-top: 10px;
              @include appFrame;
              .users-main-main__followed-btn{
                @include appFrameBtn;
              }
            }
            .users-main-main__follow{
              float: right;
              margin-right: 10px;
              margin-top: 10px;
              @include appFrame;
              .users-main-main__follow-btn{
                @include appFrameBtn;
              }
            }
          }
        }
      }
      &__follower{
        overflow-y: scroll;
        height: 500px;
        display: none;
        &-content{
          padding: 10px;
          overflow:hidden;
          border-bottom: 1px solid $borderGray;
          &__tag{
            float: left;
            margin-right: 10px;
            &-img{
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }
          &-info{
            float: left;
            margin-top: 3px;
            width: 500px;
             &__username{
              font-weight: 700;
            }
            &__nickname{
              color: $usernameGray;
              font-size: 14px;
            }
          }
          &-main{
            clear: both;
            margin-left: 70px;
            &-prof{
              padding: 1px;
              font-size: 13px;
              line-height: 20px;
              width: 580px;
              height: 50px;
              float: left;
              word-wrap: break-word;
            }
            .users-main-main__followed{
              float: right;
              margin-right: 10px;
              margin-top: 10px;
              @include appFrame;
              .users-main-main__followed-btn{
                @include appFrameBtn;
              }
            }
            .users-main-main__follow{
              float: right;
              margin-right: 10px;
              margin-top: 10px;
              @include appFrame;
              .users-main-main__follow-btn{
                @include appFrameBtn;
              }
            }
          }
        }
      }
    }
  }
}



