.all-contents{
  width: 100vw;
  height: 1000px;
  background-color: #EEEEEE;
  .header-all{
    background-color: $white;
  }
  .signup{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding:10px 25px 25px;
    text-align: center;
    background-color: $white;
    width: 450px;
    &__title{
      font-size: 22px;
      font-weight: 700;
      padding: 10px;
    }
    .signup-image{
      &-preview{
        &__img{}
      }
      .image-upload{}
    }
    .signup-nickname{
      margin: 10px;
      &__label{
        margin: 5px;
      }
      &__text_field{
        @include fieldBanner;
      }
    }
    .signup-nickname__count{
        width: 370px;
        text-align: right;
        font-size: 12px;
    }
    .signup-username{
      margin: 10px;
      &__label{
        margin: 5px;
      }
      &__text_field{
        @include fieldBanner;
      }
    }
    .signup-username__count{
      width: 360px;
      text-align: right;
      font-size: 12px;
    }
    .signup-profile{
      margin: 10px;
      &__label{
        margin: 5px;
      }
      &__text_field{
        @include fieldBanner;
        height: 145px;
      }
    }
    .signup-profile__count{
      width: 360px;
      text-align: right;
      font-size: 12px;
    }

    .signup-email{
      margin: 10px;
      &__label{
        margin: 5px;
      }
      &__email_field{
        @include fieldBanner;
      }
    }
    .signup-password{
      margin: 10px;
      &__label{
        margin: 5px;
      }
      &__password_field{
        @include fieldBanner;
      }

    }
    .signup-password-confirmation{
      margin: 10px;
      &__label{
        margin: 5px;
      }
      &__password_field{
        @include fieldBanner;
      }
    }

    .signup-password-current{
      margin: 10px;
      .signup-password-current__label{
        margin: 5px;
      }
      .signup-password-current__field{
        @include fieldBanner;
      }
    }

    .signup-submit{
      margin: 10px;
      &__btn{
        outline: 0;
        border: 0px;
        color: $white;
        background-color: #00BFFF;
        padding: 5px;
        border-radius: 5px;
        margin: 10px;
      }
    }
    .back{
      margin: 10px;
      .back__btn{
        text-decoration: none;
        outline: 0;
        border: 0px;
        padding: 5px;
        margin: 10px;
        color:$black
      }
    }
  }
}
