.all-new-contents{
  height: 500px;
  background-color: #EEEEEE;
  width: 100vw;
  .header-all{
    background-color: $white;
  }
  .signin{
    margin-top: 20px;
    padding:10px 25px 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    width: 450px;
    text-align: center;
    &-title{
      font-size: 22px;
      font-weight: 700;
      padding: 10px;
    }
    &-email{
      margin: 10px;
      &__label{
        margin: 5px 40px 5px 5px;
      }
      &__email_field{
        @include fieldBanner;
        padding: 5px;
      }
    }
    .signin-password{
      margin: 10px;
      &__label{
        margin: 5px;
      }
      &__password_field{
        @include fieldBanner;
        padding: 5px;
      }
    }
    .signin-submit{
      margin: 10px;
      &__btn{
        outline: 0;
        border: 0px;
        color: $white;
        background-color: #00BFFF;
        padding: 5px;
        border-radius: 5px;
        margin: 10px;
      }
    }
  }
}
